<div class="card mt-5">
    <div class="card-body">
        <form #userForm="ngForm" (ngSubmit)="ngSubmit(userForm)">
        <input class="hidden" name="$id" #$id="ngModel" [(ngModel)]="userService.selectedUser.$id">
        <div class="form-group">
                <input type="text" 
                class="form-control" 
                name="Nombre" 
                #name="ngModel" 
                [(ngModel)]="userService.selectedUser.name" 
                placeholder="Nombre">
            </div>

            <div class="form-group">
                <input type= "text" 
                class="form-control" 
                name="Carrera" 
                #carrera="ngModel" 
                [(ngModel)]="UserService.selectedUser.carrera" 
                placeholder="Carrera">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus-circle"></i>Agregar
                </button>
                <button class="btn btn-secondary" type="reset" (click)="resetForm(userForm)">
                    <i class="fas fa-sync-alt"></i>Resetear
                </button>
            </div>
        </form>
    </div>
</div>
